@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw; /*Aqui definimos que o body e o html ocupe 100 de toda nossa viewport*/
    background-color: black;
}
body{
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover; /*Aqui carregamos a imagem de fundo no Body, a de madeira, deixamos a size em cover, para cobrir toda a página e deixamos o fundo fixo, para ele não rolar junto com o resto do conteúdo*/
    background-attachment: fixed;
}
main{
    position:relative; /*Aqui tornamos o container de fora relativo, para podermos centralizar o container de dentro, o section#telefone*/
    height: 100vh; /*Deixamos a altura da caixa main ocupando 100% da altura da viewport*/
    
}
section#telefone{
    position: absolute;
    top: 50%; /*Aqui tornamos o container interno ao main, absolute e mechemos nos parametros de posionamento, para deixarmos ele sempre no meio da caixa main (meio da página web)*/
    left: 50%;
    transform: translate(-50%, -50%); /*Técnica utilizada para centralizar caixas. Apos definirmos top e left com porcentagem de 50 por cento positiva, temos que depois utilizar o transform para deixar negativo. Assim centralizamos uma caixa no meio com a positon absolute*/

    height: 627px;/*Aqui definimos o tamanho da caixa exatamente com o tamanho das dimensões da imagem, para que ela aparece por completo dentro da caixa section#telefone*/
    width: 311px;
    background:url('../imagens/frame-iphone.png') no-repeat; /*Aqui utilizamos o shorthand de background para carregar nossa imagem dentro da caixa section#telefone*/
}

iframe#tela{
    position: relative; /*Aqui transformamos nossa caixa do iframe em position relative para podermos mecher no seu TOP E LEFT e ajustar de acordo com a section telefone para tudo se encaixar*/
    top: 80px;
    left: 22px;
    width: 266px;/*E aqui definimos a altura e largura do iframe. E como que determinanos na página home, que ele seria cover, ou seja, cobrir todo o conteúdo da janela, ele se adapta certinho no celular*/
    height: 471px;
}

section#redes-sociais{
    text-align: right; /*Aqui configuramos para os links ficarem a esquerda*/
}

section#redes-sociais > a > img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;/*Aqui foi a técnica utilizada para transformar as imagens em ícones redondos*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.447);
    box-sizing: border-box; /*Conceito novo aprendido, muito legal. Fazendo isso, tornamos a borda como parte da imagem. Isso evita o deslocamento das mesmas após passar o mouse em cima do ícone para eles aparecerem.*/
}
section#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.636);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.627);
    transition: transform 0.3s, border 0.2s;/*Muito legal aqui, utilizamos a pseudo classe hover para darmos vários efeitos quando passamos o mouse em cima dos ícones. Exemplo o transform translate, que move o objeto e o transition: transform, border, que coloca tempo nas mudanças atribuídas após passar o mouse.*/
}